{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}Staff Users{% endblock %}

{% block content %}
<h2 class="main-title-w3layouts mb-2 text-center">
    Staff Members
</h2>
{% if staff_list %}
<table id="table_id" class="display table table-responsive" style="padding:4px;">
    <thead>
<tr>
    <th>Username</th>
    <th>Fist Name</th>
    <th>Last Name</th>
    <th>Email </th>
    <th>Status </th>
    <th>Account Type </th>
</tr>
    </thead>
    <tbody>
      {% for staff in staff_list %}
        <tr>
            <td>{{staff.username}}</td>
            <td>{{staff.first_name}}</td>
            <td>{{staff.last_name}}</td>         
            <td> {{staff.email}}</td>
            <td>{{staff.is_active}}</td>
            {% if staff.is_staff == True %}
            <td> Admin</td>
                {% else %}
            <td> Lecturer</td>
            {% endif %}
            <td>
                <a href="#" input="button" class="btn btn-success">Edit Profile</a>
            </td>
            <td>
                    <a href="{% url '_admin:stuff-member-disable' user=staff.username %}" input="button" class="btn btn-warning">Disable</a>
                </td>
        </tr>
{% endfor %}
      
    </tbody>
</table>
{% else %}
<h4>No Users Available</h4>
{% endif %}
{% endblock %}