{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}Clickers{% endblock %}
{% block content %}
<h2 class="main-title-w3layouts mb-2 text-center">
    Posted Clickers
</h2>

{% if clickers_list %}
<table class="table">
    <thead>
<tr>
    <th>Course Name</th>
    <th>Question</th>
    <th>Option A</th>
    <th>Option B </th>
    <th>Option C </th>
    <th>Option D </th>
    <th>Results </th>
</tr>
    </thead>
    <tbody>
      {% for clicker in clickers_list %}
        <tr>
            <td>{{clicker.courses}}</td>
            <td>{{clicker.question}}</td>
            <td>{{clicker.optionA}}</td>         
            <td> {{clicker.optionB}}</td>
            <td> {{clicker.optionC}}</td>
            <td> {{clicker.optionD}}</td>
            <td>
                <a href="{% url 'clickers:questions-answers' id=clicker.id %}" class="btn btn-success btn-block">View results</a>
            </td>

        </tr>
{% endfor %}
      
    </tbody>
</table>
{% else %}
<h4>No Users Available</h4>
{% endif %} 
{% endblock %}